@model IEnumerable<onlineSite.Models.product>

@{
    ViewBag.Title = "product";
    Layout = "~/Views/Shared/_AdminLayoutPage1.cshtml";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Category Details

    </div>
    <a class="nav-link" href="../Admin/AddCategory">
        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
        Add New
    </a>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>ParentId</th>
                    
                    <th>Status</th>

                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Product Name</th>
                    <th>price</th>
                    
                    <th>Action</th>

                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.p_name</td>
                    <td>@item.product_price</td>

                    <td>@Html.ActionLink("Edit", "productEdit", new { productId = item.p_id })</td>
                   
                    
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
