@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 @using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
         {
     <a href="javascript:document.getElementById('logoutForm').submit()" style="font-size:15px;color:black">Logout</a>
        }